body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 7.0em 1fr;
    height: 100vh;
}

.main {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    overflow: auto;
    border-top: 1px solid var(--gray-1);
    border-bottom: 1px solid var(--gray-1);
    padding: 0 2em;
}

.information {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 0 2em;
}

.help {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: right;
    padding: 0 2em;
}

@media (max-width: 767px) {
    body {
        display: block;
    }

    .help {
        text-align: initial;
    }
}
