article {
    transition: margin 0.25s ease-out;
}

article > :first-child > input {
    background-color: var(--yellow-1);
}

article.enabled > :first-child > input {
    background-color: var(--green-1);
}

article:not(.active) {
    display: flex;
    cursor: pointer;
}

article:not(.active) > :first-child {
    margin: 0 0.25em 0 0;
}

article:not(.active) > :first-child > label,
article:not(.active) > :not(:first-of-type) {
    display: none;
}

article:not(.active) > :first-child > input {
    border-radius: 1.5em;
    pointer-events: none;
}

article.active {
    /* Create big gaps between active and inactive elements */
    margin: 2em 0;
}

article.active > :first-child > label {
    background-color: var(--yellow-0);
    cursor: pointer;
}

article.active.enabled > :first-child > label {
    background-color: var(--green-0);
}

.highlight-error {
    background-color: var(--red-0);
}

.highlight-warning {
    background-color: var(--yellow-0);
}

.highlight-ok {
    background-color: var(--green-0);
}
