body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10em 1fr;
}

body > section {
    margin: 0;
    padding: 1em 0;
}

.information {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.main {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    border-top: 1px solid var(--gray-0);

}

.help {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: right;
}

@media (max-width: 599px) {
    body {
        grid-template-columns: auto;
        grid-auto-rows: 10em auto auto;
    }

    .main {
        grid-column: 1 / 2;
        border-bottom: 1px solid var(--gray-0);
    }

    .help {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        text-align: initial;
    }
}
