* {
    box-sizing: border-box;
    border: 0;

    line-height: 1.5;
    letter-spacing: 0.0125em;
}

html {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

body {
    margin: 1em;
}

h2,
h3,
div {
    margin: 0.5em 0;
}

section,
article {
    margin: 1em 0;
}

label {
    padding: 0.75em 1em;

    background-color: #dddddd;
}

input,
select,
button {
    font-size: 100%;
    font-family: inherit;

    border-radius: 1.5em;
    padding: 0.75em 1em;
    min-width: 0;

    background-color: #eeeeee;
}

select {
    -moz-appearance: button;
}

button {
    cursor: pointer;
}

textarea {
    font-size: 100%;
    font-family: 'Courier New', Courier, monospace;

    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 5em;

    background-color: inherit;
}

.input-group,
.multiline-input-group {
    display: flex;
}

.multiline-input-group {
    flex-direction: column;
}

.multiline-input-group > label {
    display: block;

    border-radius: 1.5em 1.5em 0 0;
}

.multiline-input-group > .textarea-wrapper {
    margin: 0;
    border-radius: 0 0 1.5em 1.5em;
    padding: 0.75em 1em;

    background-color: #eeeeee;
}

.input-group {
    width: 100%;
}

.input-group > label {
    border-radius: 1.5em 0 0 1.5em;

    white-space: nowrap;
}

.input-group > input,
.input-group > select {
    flex-grow: 1;

    border-radius: 0 1.5em 1.5em 0;
}

article.active > :first-child > label {
    background-color: #7cff7c;
    cursor: pointer;
}

article.active > :first-child > input {
    background-color: #ecffec;
}

article:not(.active) > :not(:first-child),
article:not(.active) label {
    display: none;
}

article:not(active) .input-group {
    cursor: pointer;
}

article:not(.active) input {
    border-radius: 1.5em;

    /* This makes the whole input group behave like a button */
    pointer-events: none;
}

.highlight-error {
    background-color: #ff9279;
}

.highlight-warning {
    background-color: #edff79;
}

.highlight-ok {
    background-color: #7cff7c;
}

@media screen and (max-device-width: 480px) {
    body {
        margin: 0.5em;
    }

    h2,
    h3,
    section,
    article {
        margin: 0.5em 0;
    }

    div {
        margin: 0.25em 0;
    }

    textarea {
        min-height: 3em;
    }

    label,
    input,
    select,
    button,
    .multiline-input-group > .textarea-wrapper {
        padding: 0.5em 1em;
    }
}
